.large-box {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
    
  }.large-box {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }