<div>
    <br />
    <div class="container">
        <div class="container">
        <div fxLayout="row" fxLayoutAlign="center center" class="content">
          <mat-card class="card">
            <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
              <h3>Decrypt with Password</h3>
            </mat-card-title>
            <mat-card-content>
              <form class="decryptForm" [formGroup]="decryptForm">
                <mat-form-field>
                   
                  <ngx-mat-file-input formControlName="encryptedDataFile" name="encryptedDataFile" required placeholder="Select file to decrypt"></ngx-mat-file-input>
                  <mat-icon matSuffix>folder</mat-icon>
                </mat-form-field>
                <mat-form-field>
                  <input matInput formControlName="decryptPassword" type="password" required name="decryptPassword"
                    placeholder="Enter password (max 10 characters)" maxlength="10">
  
                </mat-form-field>
  
                <mat-spinner-button (click)="decrypt()" [options]="decryptBtnOpts"></mat-spinner-button>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <br />
  </div>