<div>
  <br />
  <div class="container">
    <div class="container">
      <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row" fxLayoutAlign="space-around center" class="content">
        <div class="blocks">
          <button button="submit" mat-raised-button color="primary" (click)="openDialog()">
            <mat-icon>add</mat-icon> Add Content
          </button>
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="card">
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>Recent Transactions</h3>
          </mat-card-title>
          <mat-card-content>
            <mat-list>
              <mat-list-item *ngFor="let t of transactions">
                <mat-icon matListIcon (click)="viewTransaction(t)">info</mat-icon>
                <span>{{t}}</span>
              </mat-list-item>
              
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <br />
</div>